.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
	background: #72c0db;
	color: white;
}
nav hr{
	line-height:50px;
	color:white;
	border:1px solid white;
	height:50px;
	margin-bottom: 1%;
	margin-right: 3%;
	margin-left: 3%;
	font-size: 2em;
}
nav span{
	font-weight: bold;
	font-size: 20px;

}
